.slideshowDiv{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  justify-content: center;
  text-align: center;
  align-self: end;
  margin:auto;
}

 .slick-slider{
  display: grid;
  grid-template-columns: 12% 76% 12%;
  width: 325px;
  margin:auto;
}

.slick-arrow, .slick-prev{
  color: white;
  outline: none;
}

.slick-arrow:hover, .slick-prev:hover{
  outline: none;
  cursor: pointer;
  color: #f39c12;;
}

.slick-list{
  height: 300px;
  width: 200px;
  margin:auto;
}

.slideshowDiv .slick-slide{
  width: 700px;
}

.slideshowDiv .slick-track{
  margin-top: 50px;
}

.slideshowDiv .slick-slide .nameOfDrink{
  width: 200px;
  bottom: 0%;
}

.slideshowDiv .slideShowImg{
  width: 200px;
  height: 200px;
}

.nameOfDrink{
  width: 200px;
  position: absolute;
  margin: 0;
  bottom: 1%;
  color:black;
  font-weight: bold;
  font-size: 20px;
  background-color: white;
  opacity: .6;
  box-sizing: border-box;
  min-height: 60px;
  max-height: fit-content;
  padding: 15px;
}

.nameOfDrink:hover{
  cursor: pointer;
  color: #f39c12;
}

@media (min-width: 640px){

  .slideshowDiv{
    grid-gap: 20px;
    width: 80%;
  }
  .slideshowDiv .slick-slide .nameOfDrink{
    width: 300px;
  }

  .slideshowDiv .slick-list{
    height: 400px;
    width: 300px;
  }

  .slick-slider{
    width: 450px;
  }

  .slideshowDiv .slideShowImg{
    width: 300px;
    height: 300px;
} 

  .nameOfDrink{
    width: 300px;
    font-size: 25px;
    bottom: 0%;
  }
}