.drinkResultsGridContainer{
  width: 100;
  min-height: 500px;
  max-height: fit-content;
  background-color: black;
  margin:auto;
  margin-top: 100px;
  min-height: -webkit-fill-available;
  padding: 10%;
  min-width: fit-content;
}

.drinkResultsGrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  justify-content:center;
  justify-items: center;
  margin: 5%;
  grid-gap: 20px;
  padding: 40px 0;

}

.drinkResultsGrid div{
  position: relative;
}

.drinkResultsGrid img{
    width: 200px;
}

.nameOfDrink{
  width: 200px;
  position: absolute;
  margin: 0;
  bottom: 1%;
  color:black;
  font-weight: bold;
  font-size: 20px;
  background-color: white;
  opacity: .6;
  box-sizing: border-box;
  min-height: 60px;
  max-height: fit-content;
  padding: 15px;
}

.nameOfDrink:hover{
  height: 100%;
  width: 100%;
  cursor: pointer;
  color: #f39c12;
}

@media (min-width: 1150px){

  .drinkResultsGrid{
    margin:auto;
    width: 70%;
  }

  .drinkResultsGridContainer{
    margin-top: 20px;
    padding: 100px;
  }

  .nameOfDrink{
    width: 250px;
    font-size: 25px;
  }

  .drinkResultsGrid img{
    width: 250px;
  }

}