.drinkResultsGridContainer{
  width: 100;
  min-height: stretch;
  max-height: fit-content;
  background-color: black;
  margin:auto;
  margin-top: 70px;
  padding: 30px 0px;
  min-width: fit-content;
}

.mixology{
  color: #f39c12;
  font-family: 'Dawning of a New Day', cursive;
  font-size: 75px;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 0px;
}

.tagLine{
   color: white;
   letter-spacing: 1px;
   font-size: 14px;
   text-align:center;
}

.resultsCount{
  color: white;
  text-align: center;
}

.drinkResultsGrid{
  display: grid;
  justify-content:center;
  margin: 5%;
  padding: 40px 0;
}

.image-gallery{
  width: 320px;
  margin: auto;
}

.image-gallery-slide-wrapper{
  padding-bottom: 60px;
}

.image-gallery-slides{
  width: fit-content;
  margin: auto;
}

.image-gallery-right-nav, .image-gallery-left-nav{
  padding: 0 !important;
}

.image-gallery-description{
  text-align: center;
  font-weight: bold;
  bottom: 0px !important;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  bottom: 1%;
  color: black !important;
  font-weight: bold;
  font-size: 20px !important;
  background-color: white !important;
  opacity: .6;
  padding: 15px !important;
  min-height: 50px;
  text-align: center;
}

.image-gallery-image img{
  width: 250px !important;
}

@media (min-width: 1150px){

  .mixology{
    font-size: 100px;
    letter-spacing: 5px;
  }

  .tagLine{
    font-size: 20px;
  }

  .drinkResultsGrid{
    margin:auto;
    width: 70%;
  }

  .resultsCount{
    font-size: 30px;
  }

  .image-gallery{
    width: 900px;
  }

  .image-gallery-image img{
    width: 450px !important;
  }

  .drinkResultsGridContainer{
    margin-top: 10px;
    padding: 60px;
  }

  .image-gallery-description{
    font-size: 25px !important;
  }

  .image-gallery-right-nav{
    right: 15% !important;
  } 

  .image-gallery-left-nav{
    left: 15% !important;
  }


}