.drinkResultsGridContainer{
  width: 100;
  min-height: 450px;
  max-height: fit-content;
  background-color: black;
  margin:auto;
  margin-top: 70px;
  padding: 30px 0px;
  min-width: fit-content;
}

.mixology{
  color: #f39c12;
  font-family: 'Dawning of a New Day', cursive;
  font-size: 75px;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 0px;
}

.tagLine{
   color: white;
   letter-spacing: 1px;
   font-size: 14px;
   text-align:center;
}

.resultsCount{
  color: white;
  text-align: center;
}

.drinkResultsGrid{
  display: grid;
  justify-content:center;
  margin: 5%;
  padding: 40px 0;
}

.drinkResultsGrid .slick-list{
  height: fit-content;
}
.drinkResultsGrid .slick-slide{
  width: 200px;
}

.drinkResultsGrid img{
    width: 200px;
}

@media (min-width: 1150px){

  .drinkResultsGridContainer{
    min-height: 500px;
    max-height: fit-content;
  }
  .mixology{
    font-size: 100px;
    letter-spacing: 5px;
  }

  .tagLine{
    font-size: 20px;
  }

  .drinkResultsGrid{
    margin:auto;
    width: 70%;
  }

  .resultsCount{
    font-size: 30px;
  }

  .drinkResultsGridContainer{
    margin-top: 10px;
    padding: 60px;
  }

  .drinkResultsGrid .slick-slide, .drinkResultsGrid .slick-list{
    width: 300px;
  }

  .drinkResultsGrid img{
    width: 300px;
  }

}