.helpInfoDiv{
  max-width: 60%;
  margin:auto;
  margin-top: 5%
}

.helpInfoDiv button{
  display: block;
  margin: auto;
  padding: 5px 10px;
  font-size: 18px;
}

.helpInfoDiv button:hover{
  color: #f39c12;
  cursor: pointer;
  border: solid 3px #f39c12;
}