.drinkDetailsDiv{
  position: relative; 
  width: 70%;
  margin:auto;
  padding: 25px;
  border: solid 3px white;
  color: white;
  text-align: center;
}

.closeDrinkRecipeDetails{
  position: absolute; 
  top:3%;
  right:9%;
  color: white;
}

.drinkName{
  margin: 10px;
  text-decoration: underline;
}

.drinkIngredients{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  grid-column-gap: 20px;
  margin: auto;
}

.drinkIngredients h2{
  margin:0;
  grid-column: span 2;
}

.drinkInstructions{
  width: 80%;
  margin:auto;
}

@media (min-width: 640px){
  .drinkDetailsDiv{
    width: 425px;
    font-size: 140%;
    
  }

  .closeDrinkRecipeDetails{
    right:3%;
  }
}