.inputDiv{
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 90%;
  max-width: 320px;
  margin:auto;
  margin-bottom: 5%;
  grid-column-gap: 5px;
  float: left;
  margin-left: 2%;
  clear: right;
}

span{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 3fr 1fr;
}
 
/*input slideout animations*/  
.inputIngredient{
  height: 40px;
  border: none;
  width: 180px;
  border-bottom: 2px solid black;
}  

.inputIngredient.switch-enter{
  opacity: 0.01;
  width: 0;
  transition: all 1s;
}

.inputIngredient.switch-enter.switch-enter-active {
    opacity: 1.0;
    width: 180px; 
}

.inputIngredient.switch-leave.switch-leave-active {
    opacity: 0.01;
    width: 0;
}

.inputIngredient.switch-leave {
    width: 180px;
    opacity: 1.0;
    transition: all 1s;
} 

.inputIngredient:focus{
  outline: none;
  border-bottom: solid 3px #f39c12;
  
}

/*button slideout animations*/
.inputIngredientBtn{
  height: 40px;
  border-radius: 5px;
}

.inputIngredientBtn.switch-enter{
  opacity: 0;
  transition: all 1s;
}

.inputIngredientBtn.switch-enter.switch-enter-active {
  opacity: 1.0;    
}

.inputIngredientBtn.switch-leave.switch-leave-active {
    opacity: 0.01;
}

.inputIngredientBtn.switch-leave {
  opacity: 1.0;
  transition: all 1s;
}

.inputIngredientBtn:hover{
  color: #f39c12;
  cursor: pointer;
  border: solid 3px #f39c12;
}
 
.searchIcon{
  justify-self: center;
}

.searchIcon:hover{
  color: #f39c12;
  cursor: pointer;
}

@media (min-width: 1100px){

  .inputDiv{
    position: absolute;
    top: 4%;
    right: 20%;
    max-width: 375px;
  }

  .inputIngredient{
    width: 220px;
  }  

  .inputIngredient.switch-enter.switch-enter-active {
    opacity: 1.0;
    width: 220px; 
  }

  .inputIngredient.switch-leave {
    width: 220px;
    opacity: 1.0;
    transition: all 1s;
  } 

}
    