header{
  width: 90%;
  height: 80px;
  border-bottom: black 2px solid;
  position: relative;
  margin:auto;
}

.helpDiv, .browseClassics{
  position: absolute;
  top: 30%;
  left: 10%;
  width: fit-content;
  font-size: 30px;
  font-weight: bold;
  color:grey;
}

.browseClassics{
  left: 20%;
}

.helpDiv:hover, .browseClassics:hover{
  cursor: pointer;
  color: #f39c12;
}