.backToHome{
  display: block;
  margin:auto;
  padding: 20px;
  color: white;
  border: solid 3px white;
}

.classicsInfoDiv{
  width: 100;
  min-height: 500px;
  max-height: fit-content;
  background-color: black;
  margin:auto;
  padding-top: 2%;
  min-height: -webkit-fill-available;
}

@media (min-width: 1200px){
  

}