.mainDiv{
  width:100%;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

.searchInputDiv{
  margin:auto;
  width:fit-content;
}

.errorMsgDiv{
  width: 50%;
  margin: auto;
  margin-top: 10%;
  border: solid 3px black;
}

@media (min-width: 1200px){
  
  .errorMsgDiv{
    margin-top: 5%;
  }
}

