.mainDiv{
  width:100%;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

.searchInputDiv{
  margin:auto;
  width:fit-content;
}

.errorMsg{
  text-align: center;
  display: block;
  margin:auto;
  padding-top: 20%;
  font-size: 25px;
  width: 80%;
  color: white;
}

@media (min-width: 1200px){
  
  .errorMsg{
    padding-top: 15%;
    font-size: 35px;
  }
}

