*{
  font-family: 'Julius Sans One', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button{
  background: transparent;
  border: solid 3px black;
  border-radius: 5px;
  font-weight: bold;
}
